---
// src/components/ArticleCard.astro
import { Image } from 'astro:assets';

interface Props {
    post: {
        slug: string;
        image: string;
        alt: string;
        duration: string;
        title: string;
        excerpt: string;
        tags: string[];
    }
}
const { post } = Astro.props;

// Construimos la ruta completa desde 'src' para que Astro pueda encontrar y optimizar la imagen.
const imagePath = `/${post.image}`;
---
<a href={`/blog/${post.slug}`} class="card blog-card">
    <div class="image-blog-card">
    <Image 
        src={import(imagePath)} 
        alt={post.alt} 
        width={400} 
        height={200}
        quality={80}
        loading="lazy"
        decoding="async"
    />
<div class="tags">
            {post.tags.map(tag => <span class="tag">{tag}</span>)}
        </div></div>
    <div class="blog-card-content">
        <div class="blog-card-meta">
            <span>{post.duration}</span>
        </div>
        <h3 class="section-subtitle">{post.title}</h3>
        <p>{post.excerpt}</p>
        
        <span class="read-more">Leer más <i class="ph ph-arrow-right"></i></span>
    </div>
</a>