---
// src/components/Seo.astro
interface Props {
	title: string;
	description: string;
	image?: string; // La imagen para compartir en redes sociales
	canonicalURL?: URL;
}

const { 
    title, 
    description, 
    image = '/images/social-sharing.jpg', // Una imagen por defecto
    canonicalURL = new URL(Astro.url.pathname, Astro.site),
} = Astro.props;

const siteTitle = "Comprende.me - Psicología Infanto-Juvenil Online";
const fullTitle = `${title} | ${siteTitle}`;
const absoluteImageUrl = new URL(image, Astro.site).href;
---

<title>{fullTitle}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:image" content={absoluteImageUrl} />
<meta property="og:site_name" content={siteTitle} />
<meta property="og:locale" content="es_CL" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={absoluteImageUrl} />